<div class="statistic col-md-2 panel panel-default">
    <div class="title">Total balance</div>
    <div class="value">{@currency value=saldo /}</div>
</div>
<div class="statistic col-md-2 panel panel-default">
  <div class="title">Total credit</div>
  <div class="value">{@currency value=credit /}</div>
</div>
<div class="statistic col-md-2 panel panel-default">
  <div class="title">Total debit</div>
  <div class="value">{@currency value=debit /}</div>
</div>

<ul class="pager">
    <li class="previous back" data-back-view="accounts"><a>← Back</a></li>
</ul>